.body__container {
  align-items: center;
  justify-content: center;
}

.main__projects {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin: 80px 0 120px 0;
}
.project__content {
  width: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.content__title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2e2e2e;
  width: auto;
}
.content__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}
.projects__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slider__card {
}
.card__img {
}
.card__info {
}
@media (max-width: 1024px) {
  .project__content {
    width: 656px;
    margin: 60px 0 80px 0;
  }
  .main__projects {
    max-width: 964px;
    gap: 30px;
  }
  .slider__card {
    width: 308px;
    border-radius: 20px;
  }
  .card__img {
    width: 268px;
    height: 268px;
    border-radius: 20px;
  }
  .card__info {
    width: auto;
  }
  @media (max-width: 375px) {
    .main__projects {
      max-width: 355px;
      margin: 40px 0 60px 0;
    }
    .project__content {
      width: 100%;
      margin: 0;
      gap: 20px;
    }
    .content__title {
      font-family: "Lubalin Graph";
      font-style: normal;
      font-weight: 5;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #2e2e2e;
    }
    .content__paragraph {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.05em;
      color: #2e2e2e;
    }
    .slider__card {
      width: 355px;
    }
    .card__img {
      height: 315px;
      width: 315px;
    }
    .projects__cards {
      gap: 10px;
    }
  }
}
