.main-team {
  margin-top: 80px;
  padding: 0 20px;
}

.team__block-1 {
  max-width: 670px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.team__title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2e2e2e;
}
.team__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}
.team__block-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 37px;
  margin-top: 80px;
}
.our__founder-title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #2e2e2e;
  max-width: 670px;
}
.our__founder-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.img__back {
  width: 100%;
  min-width: 308px;
  max-width: 670px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.our__founder-img {
  width: 100%;
  height: 100%;
  min-height: 380px;

  object-fit: cover;
  object-position: center;
}

.our__founder-content {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.content__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #2e2e2e;
}
.content__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}
.content__social-media {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__block-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}
.all__team-title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #2e2e2e;
}
.all__team-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.card {
  width: 325px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 254, 247, 1);
  border: 1px solid #2e2e2e;
  border-radius: 30px;
}
.card__img {
  width: 100%;
  height: 250px;
}
.card__about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  width: auto;
  border-top: none;
}
.proffesion {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #4b61f1;
}
.about__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #2e2e2e;
}
.card__projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__list {
  padding: 0;
  margin: 0;
}
.card__project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #2e2e2e;
  opacity: 0.8;
}
.block__volunteers {
  margin-top: 120px;
}
@media (max-width: 1400px) {
  .our__founder-block {
    justify-content: flex-start;
  }
}
@media (max-width: 1273px) {
  .our__founder-content {
    gap: 0;
  }
  .content__paragraph {
    margin: 16px 0 20px 0;
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .main-team {
    margin-top: 60px;
  }

  .content__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
  }
  .content__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .team__block-2 {
    gap: 30px;
    margin-top: 80px;
  }
  .our__founder-block {
    align-items: flex-start;
  }
  .team__block-3 {
  }
  .block__volunteers {
    margin-top: 80px;
  }
}
@media (max-width: 730px) {
  .team__title {
    font-size: 90px;
  }
  .team__paragraph {
    font-size: 21px;
  }
  .our__founder-block {
    flex-direction: column;
  }
  .img__back {
    min-width: 355px;
    border-radius: 20px;
  }
  .our__founder-img {
    min-height: 355px;
  }
  .our__founder-title {
    font-size: 55px;
  }
  .content__subtitle {
    font-size: 42px;
  }
  .content__paragraph {
    font-size: 20px;
  }
  .all__team-title {
    font-size: 55px;
  }
  .all__team-cards {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .card {
    width: 100%;
    align-items: flex-start;
  }
}
@media (max-width: 709px) {
  .all__team-cards {
    gap: 10px;
  }
}
@media (max-width: 435px) {
  .main-team {
    margin-top: 40px;
    padding: 0 10px;
  }
  .team__block-1 {
    gap: 20px;
  }
  .team__title {
    font-family: "Lubalin Graph";
    font-style: normal;
    font-weight: 5;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2e2e2e;
  }
  .team__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2e2e2e;
  }
  .our__founder-title {
    font-family: "Lubalin Graph";
    font-style: normal;
    font-weight: 5;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2e2e2e;
  }
  .team__block-2 {
    gap: 20px;
    margin-top: 60px;
  }
  .img__back {
    width: 100%; /* Ширина контейнера */
    max-width: 100%; /* Максимальна ширина */
    height: 355px; /* Фіксована висота */
    border-radius: 20px; /* Ваш бажаний border-radius */
    overflow: hidden; /* Ховає краї зображення за межами контейнера */
    position: relative;
    min-width: 0;
  }
  .our__founder-img {
    width: 100%;
    height: 100%;
  }
  .content__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
  }
  .content__paragraph {
    margin: 10px 0 20px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
  }
  .team__block-3 {
    margin-top: 60px;
  }
  .all__team-title {
    font-family: "Lubalin Graph";
    font-style: normal;
    font-weight: 5;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2e2e2e;
  }
  .team__block-3 {
    gap: 20px;
  }
  .block__volunteers {
    margin-top: 60px;
    padding: 0 10px;
  }
}
