.reviews {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.reviews__title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2e2e2e;
}
.reviews__p {
  max-width: 670px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e2e2e;
  margin: 20px 0 40px 0;
}
.reviews__cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card__about {
  max-width: 630px;
  width: 100%;
}
.reviews__but {
  margin: 0 auto;
  background: rgba(255, 238, 88, 1);
  width: 183px;
  height: 54px;
  border-radius: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #2e2e2e;
}
.reviews__but:hover {
  background: rgba(75, 97, 241, 1);
  color: rgba(255, 254, 247, 1);
}
@media (max-width: 1024px) {
  .reviews {
  }
  .reviews__p {
    margin: 30px 0;
  }
  .slider__profile {
    width: 308px;
  }
  .card__about {
    width: auto;
    align-items: flex-start;
  }
  .card__profile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .about__info {
    margin-top: 10px;
  }
  .card__about svg {
    margin-top: 10px;
  }
  .reviews__but {
    margin-top: 30px;
  }
  .reviews__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 675px) {
  .slider__profile {
    max-width: 100%;
    width: 100%;
  }
  .card__about svg {
    margin-top: 20px;
  }
  .card__profile {
    flex-direction: row;
    gap: 20px;
  }
  .reviews__cards {
    gap: 10px;
  }
}
@media (max-width: 610px) {
  .reviews__title {
    font-size: 90px;
  }
  .reviews {
    margin-top: 40px;
  }
}
@media (max-width: 468px) {
  .reviews__title {
    font-size: 75px;
  }
}
@media (max-width: 435px) {
  .reviews {
    padding: 0 10px;
  }
  .reviews__title {
    font-family: "Lubalin Graph";
    font-style: normal;
    font-weight: 5;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2e2e2e;
  }
  .reviews__p {
    max-width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
    margin: 20px 0;
  }
}
