.about__us {
}
._container:not(:last-child) {
  padding: 0 20px;
}
.about__us-head {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.content__info {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.info__box {
}
.about__us-title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2e2e2e;
}
.about__us-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}
.about__us-img {
  margin: 0 auto;
}
.content__img-back {
  width: 100%; /* Ширина контейнера */
  max-width: 670px; /* Максимальна ширина */
  min-width: 560px;
  height: 580px; /* Фіксована висота */
  border-radius: 30px; /* Ваш бажаний border-radius */
  overflow: hidden; /* Ховає краї зображення за межами контейнера */
  position: relative;
}
.content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about__us-blue {
  background: #4b61f1;
  border-radius: 30px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.about__us-blue p {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 70px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fffef7;
}
.about__us-volunteers {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.volunteers__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
._about-title {
  font-family: "Lubalin Graph";
  font-style: normal;
  font-weight: 5;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #2e2e2e;
}
.top__title {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title__imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.img__flamenko {
}
.img__guitar {
}
.top__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #2e2e2e;
  max-width: 670px;
}
.volunteers__bot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.bot__img {
  background: #d9d9d9;
  border-radius: 30px;
}
.small {
  width: 325px;
  height: 325px;
  grid-column: span 1;
}
.big {
  max-width: 670px;
  width: 100%;
  height: 325px;
  grid-column: span 2;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1366px) {
  .about__us-title {
    white-space: nowrap;
    font-size: 100px;
  }
}
@media (max-width: 1075px) {
  .volunteers__bot {
    grid-template-columns: repeat(3, 1fr);
  }
  .big {
    max-width: 325px;
    grid-column: span 1;
  }
}
@media (max-width: 1057px) {
  .bot__img {
    max-width: 308px;
    height: 308px;
  }
}
@media (max-width: 1163px) {
  .about__us-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 670px;
  }
  .about__us-head {
    flex-direction: column;
  }
  .content__info {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .about__us-img {
    width: 278px;
    margin: 0;
  }
  .content__img-back {
    width: 100%; /* Ширина контейнера */
    max-width: 100%; /* Максимальна ширина */
    height: 580px; /* Фіксована висота */
    border-radius: 30px; /* Ваш бажаний border-radius */
    overflow: hidden; /* Ховає краї зображення за межами контейнера */
    position: relative;
  }
  .content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 1270px) {
  .volunteers__top {
    max-width: 100%;
    width: 100%;
    align-items: flex-end;
  }
  .top__title {
    gap: 20px;
  }
  .title__imgs {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .about__us-head {
    margin-top: 60px;
    gap: 71px;
  }
  .about__us-blue {
    padding: 60px 0;
    margin-top: 80px;
  }
  .about__us-volunteers {
    margin-top: 80px;
  }
  .team__block-2 {
    margin-top: 80px;
  }
  .img__flamenko {
    width: 216px;
  }
  .img__guitar {
    width: 186px;
  }
  .content__img-back {
    width: 100%;
    height: 100%; /* Ширина контейнера */
    max-width: 100%; /* Максимальна ширина */ /* Фіксована висота */
    border-radius: 30px; /* Ваш бажаний border-radius */
    overflow: hidden; /* Ховає краї зображення за межами контейнера */
    position: relative;
  }
  .content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 1004px) {
  .volunteers__bot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 876px) {
  .about__us-blue p {
    font-size: 55px;
  }
}
@media (max-width: 853px) {
  .about__us-title {
    font-size: 90px;
  }
}
@media (max-width: 818px) {
  .volunteers__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .title__imgs {
    flex-direction: row-reverse;
  }
  .top__text {
    max-width: 100%;
  }
}
@media (max-width: 802px) {
}
@media (max-width: 729px) {
  .about__us-img {
    display: none;
  }
}
@media (max-width: 675px) {
  .volunteers__bot {
    flex-direction: row;
    height: 355px;
    flex-wrap: inherit;
  }
  .bot__img {
    max-width: inherit;
    width: 355px;
    height: 100%;
  }
  .about__us-head {
    gap: 20px;
  }
}
@media (max-width: 590px) {
  ._about-title {
    font-size: 60px;
  }
  .about__us-title {
    font-size: 80px;
  }
  .content__img-back {
    min-width: 0;
  }
}
@media (max-width: 466px) {
  ._about-title {
    font-size: 40px;
  }
  ._container:not(:last-child) {
    padding: 0 10px;
  }
  .about__us-title {
    font-size: 60px;
  }
  .about__us-head {
    margin-top: 40px;
  }
  .about__us-content {
    gap: 10px;
  }
  .about__us-paragraph {
    font-size: 16px;
  }
  .about__us-blue {
    padding: 40px 0;
    margin-top: 40px;
  }
  .about__us-blue p {
    font-size: 40px;
  }
  .top__text {
    font-size: 18px;
  }
  .content__subtitle {
    font-size: 34px;
  }
}
